// $buttonHeight: 40px
// $smallButtonWidth: 40px
  
.basic-key
  height: $buttonHeight
  display: flex
  justify-content: center
  align-items: center

  border: 1px solid black
  // box-sizing: border-box

.letter,
.number
  width: $smallButtonWidth

.arrowUP,
.arrowDOWN,
.arrowLEFT,
.arrowRIGHT
  width: $smallButtonWidth

.backspace,
.capslock,
.shiftL
  width: calc($smallButtonWidth * 2.5)

.enter,
.shiftR
  width: calc($smallButtonWidth * 2 + $rowGap * 1.3)

.tab,
.slash
  width: calc($smallButtonWidth * 1.25)

.del
  width: calc($smallButtonWidth * 1.07)

.ctrlL,
.ctrlR,
.altL,
.altR,
.win
  width: $smallButtonWidth

.space
  width: calc($smallButtonWidth * 8 + $rowGap * 3)
