// Container
$containerWidth: 721px
$containerHeight: 100%
$rowGap: 6px

// Keyboard
$buttonHeight: 40px
$smallButtonWidth: 40px
$keyWidth: 100%
$keyHeight: calc($buttonHeight * 5 + $rowGap * 6)

.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  row-gap: $rowGap
  width: $containerWidth
  height: $containerHeight
  font-family: sans-serif

.keyboard
  width: $keyWidth
  height: $keyHeight
  background-color: #888888

  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-items: flex-start
  gap: $rowGap